@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    height: auto;
    width: auto;
}

.row1 {
    height: 30px;
    background-color: #b31b1b;
    display: flex;
}

.row1 ul {
    align-items: center;
    display: flex;
    list-style-type: none;
}

.row1 ul li {
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row1 ul li .icon {
    font-size: small;
    margin-right: 4px;
    justify-content: center;
}

.row1 ul li:hover {
    cursor: pointer;
    border: 0.1px solid rgb(255, 255, 255);
    border-style: dotted;
}

.row1 .left {
    padding: 0px 80px 0px 200px;
}

.mainbar .row2 {
    padding: 22px 0;
    justify-items: center;
    align-items: center;
    display: flex;
}

.mainbar .row2 .left img {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: 90px;
}

.mainbar .row2 .right {
    position: absolute;
    right: 8%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.mainbar .row2 .right input {
    height: 35px;
    width: 250px;
    padding-right: 50px;
}

.row2 .right .content {
    height: 35px;
    width: 60px;
    background-color: #3367D6;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}


@media only screen and (max-width: 950px) {
    .mainbar{
        height: auto;
        width: auto;
        margin-top: 0px;
    }
    .row1 {
        display: grid;
        padding: 0px;
        width: auto;
        color: black;
        height: auto;
        background-color: #b31b1b;
    }
    .row1 ul{
        padding: 0px 10px;
    }
.row1 ul li{
    font-size: 12px;
    padding: 0px 6px;
}
.row1 .left{
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row1 .left li{
    padding: 0 8px;
}
.row1 .right ul {
    padding: 0px 10px;
    display: ruby-text;
    grid-template-rows: repeat(2, 5fr);
}
.mainbar .row2 {
display: ruby-text-container;
grid-row: 2;
justify-content: space-between;
padding: 4px;
}
.mainbar .row2 .left{
    margin-top: 25px;
    height: 40px;
    width: auto;
    padding: 0px !important;
}
.mainbar .row2 .right{
    gap: 0;
    margin-top: 150px;
    display: flex;
}
.mainbar .row2 .right input,
.mainbar .row2 .right .content{
    margin-top: 15px;
}
.mainbar .row2 .left img{
    margin-top: -25px;
    position: absolute;
    z-index: 4000;
    margin-bottom: 0px;
}
}